/* global rules */
:root {
  --padding-20: 2rem;
  --main-bg-color: #9dc08b;
  --secondary-bg-color: #40513b;
  --third-bg-color: #edf1d6;
  --main-font-color: #40513b;
  --secondary-font-color: #edf1d6;
  --title-size: 5rem;
  --font-size: 2.5rem;
  --border-radius: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  font-size: 10px;
}
body {
  font-family: "Open Sans", sans-serif;
  /* position: relative !important; */
}

ul {
  list-style-type: none;
}
/* Small */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */
/* Medium */
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */
/* Large */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */
/* end global rules */

/* start header */
header {
  height: 100vh;
  background-color: var(--main-bg-color);
 padding: 0 10rem;
  box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.navbar {
  /* position: fixed !important;
  top: 0;
  margin: auto; */
  background-color: var(--main-bg-color);
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
   box-shadow: 0px 6px 5px 0 rgb(237 241 214 / 25%);
}
.logo {
  font-size: 4rem;
  color: var(--main-font-color);
  font-family: "Licorice", cursive;
  /* padding: 0 10rem; */
}
.burger {
  display: none;
  
}

nav ul {
  display: flex;
}
nav ul li {
  width: fit-content;
}
nav ul li a {
  display: block;
  color: var(--main-font-color);
  font-size: 2rem;
  padding: 1rem 2.5rem;
  transition: 0.3s;
  margin: 0 0.5rem;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #84a076;
  border-radius: 5px;
}
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger .line {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--main-font-color);
    margin: 0.6rem 0;
  }
  nav {
    height: 20.5rem;
    top: 8rem;
    width: 100vw;
    border-top: none;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    opacity: 1;
    padding: 0;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    color: var(--main-font-color);
  }
}

.about-section {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 7.5rem);
   padding: 0 10rem;
}

.about-section .about-text,
.about-section .about-image {
  display: flex;
}
.about-section .about-text {
  flex-direction: column;
  justify-content: center;
}
.about-section .about-text h2 {
  font-size: 5rem;
  color: var(--main-font-color);
}
.about-section .about-text h2.light {
  color: var(--secondary-font-color);
}
.about-section .about-text p {
  color: var(--main-font-color);
  font-size: 2.5rem;
  font-weight: 500;
}
.about-section .about-text .buttons {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
}
.about-section .about-text .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width:12.5rem;
  margin-bottom: 1rem;
}
.about-section .about-text .buttons .button a {
  text-decoration: none;
  font-size: 1.7rem;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
}
.about-section .about-text .buttons .button-1 a {
  background-color: var(--third-bg-color);
  color: var(--main-font-color);
}
.about-section .about-text .buttons .button a:hover {
  box-shadow: rgba(0, 0, 0, 0.322) 0px 5px 15px 0px;
  transform: translateY(-2px);
}
.about-section .about-text .buttons .button-2 a {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-font-color);
}
.about-image {
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  animation-name: upDown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.about-image .border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  border: 1px solid var(--secondary-font-color);
  box-shadow: 0 0 4px 9px rgb(255 255 255 / 25%);
}
.about-image .border img {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
  .about-image .border {
    width: 25rem;
    height: 25rem;
  }
  .about-image .border img {
    width: 20rem;
    height: 20rem;
  }
  .about-section .about-text h2 {
    font-size: 4rem;
  }
  .about-section .about-text p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  header {
    padding: 0 2rem;
    height: fit-content;
    /* padding-bottom: 2rem;  */
  }
  .navbar{
    padding: 0.5rem;
  }
  .navbar .logo {
    padding-left: 1rem;
  }
  .navbar .burger{
    padding-right: 1.5rem;
  }

  .about-section {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-top: 3rem;
    padding: 1rem 0 0 0 ;
    height: fit-content;
    
    /* overflow: hidden; */
  }
  .about-section .about-text,
  .about-section .about-image {
    /* flex-basis: 50%; */
    /* justify-content: flex-start; */
    align-items: center;
    margin-top: 1rem;
  }
  .about-image {
    flex-basis: 0;
    margin-top: 2rem;
  }
  .about-image .border {
    margin-bottom: 2rem;
    width: 20rem;
    height: 20rem;
  }
  .about-image .border img {
    height: 15rem;
    width: 15rem;
  }
  .about-section .about-text {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5rem;
  }
  .about-section .about-text .h2c {
    text-align: center;
    font-size: 3rem;
  }
  .about-section .about-text p,
  .about-section .about-text .buttons {
    margin: 1rem;
  }
  .about-section .about-text .buttons {
    flex-direction: column;
  }
}
@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* end header */
/* start main */
main {
  /* padding: 5rem 10rem; */
  background-color: var(--third-bg-color);
}


.title h2 {
  width: 17rem;
  font-size: 3rem;
  margin: 0 auto;
  /* padding: 1.5rem 0; */
  text-align: center;
  position: relative;
  color: var(--main-font-color);
  font-weight: bold;
}
.title h2::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid;
  bottom: -22px;
  left: 75px;
  background-color: white;
  z-index: 1;
}
.title h2::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 12rem;
  background-color: var(--secondary-bg-color);
  bottom: -15px;
  left: 2.5rem;
}
/* end main */

/* start projects section */
.projects {
  padding: 5rem 10rem;
}
@media (max-width: 584px) {
  .projects {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.projects .row {
  margin-top: 5rem;
}
.projects .box {
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  border: none;
  /* border: 1px solid var(--secondary-bg-color); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 35rem;
}

.projects .box img {
  height: 20rem;
}
.projects .box .links {
  background-color: var(--main-bg-color);
}

.projects .box .links .link .icon {
  width: 4rem;
  height: 4rem;
  background-color: var(--third-bg-color);
  border-radius: 50%;
  margin-bottom: 1rem;
}
.projects .box .links .link .icon i {
  font-size: 2rem;
  color: var(--main-font-color);
}
.projects .box .links .link span,
.projects .box .links .link a {
  font-size: 1.3rem;
  color: var(--main-text-color);
}
.projects .box .links .link a {
  text-decoration: none;
}
.projects .box .links .link a:hover {
  text-decoration: underline;
}

/* end projects section */
/* start skills section */
.skills {
  padding: 5rem 10rem;
  background-color: var(--main-bg-color);
  box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.25),
    0 -11px 15px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.skills .row {
  margin-top: 8rem;
}
.skills .row-2 {
  margin-top: 4rem;
}
.skills .row .skill {
  width: 10rem;
  height: 10rem;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  box-shadow: 0 0 10px 1px white;
}
.skills .row .skill i {
  font-size: 5rem;
  color: var(--third-bg-color);
}
.skills .row .skill span {
  color: var(--third-bg-color);
  font-size: 1.4rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

/* end skills section */
/* start contact section */
.contact {
  padding: 5rem 10rem;
}
.contact .info {
  width: 90%;
  height: 100%;
  margin: 6rem auto auto auto;
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact .info .info-text {
  flex-basis: 60%;
  padding: 0 10rem;
  /* flex-shrink: 1; */
}
.contact .info .info-text .info-row {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 2rem;
}
.contact .info .info-text .info-row .info-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--third-bg-color);
  /* border: 1px solid var(--secondary-bg-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.contact .info .info-text .info-row .info-icon i {
  font-size: 2.5rem;
  color: var(--main-font-color);
}
.contact .info .info-image {
  flex-basis: 40%;
  background-color: var(--third-bg-color);
}
.contact .info .info-image img {
  max-width: 100%;
  width: 90%;
  /* height: 80%; */
}
.contact .info .info-text .info-row a {
  transition: 0.3s;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-font-color);
}
.contact .info .info-text .info-row .number{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--main-font-color);
}
.contact .info .info-text .info-row a:hover {
  text-decoration: underline;
}
@media (max-width: 1100px) {
  .contact .info {
    flex-direction: column-reverse;
    width: 70%;
  }
  .contact .info .info-text {
    padding: 3rem 6rem;
  }
  .contact .info .info-image img {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .contact {
    padding: 3rem 0;
  }
  .contact .info {
    width: 80%;
  }
  .contact .info .info-text .info-row {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .contact .info .info-text .info-row .info-icon {
    margin-bottom: 2rem;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
  }
  .contact .info .info-text .info-row a {
    font-weight: bold;
    font-size: 2rem;
  }
  .contact .info .info-image img {
    width: 70%;
  }
}

/* end contact section */
/* start footer section */
footer {
  padding: 5rem 10rem;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 -11px 15px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
}
footer .social {
  border-bottom: 1px solid var(--third-bg-color);
}
footer .social .icon {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}
footer .social .icon a {
  text-decoration: none;
}
footer .social .icon a i {
  font-size: 5rem;
  transition: 0.2s;
  color: var(--third-bg-color);
}
footer .social .icon a:hover i {
  transform: translateY(-5px);
}
footer .copyright {
  text-align: center;
  color: var(--third-bg-color);
  font-size: 2rem;
  /* padding: 1rem 0; */
  margin-top: 4rem;
}
/* .footer {
 position: relative;

} */
footer .to-up{
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 90px;
  bottom: 30px;
  border-radius: 5px;
  background-color: var(--third-bg-color);
  text-decoration: none;
  transition: 0.2s;
}
footer .to-up:hover{
  box-shadow: 0 0 16px 0px rgb(0 0 0 / 25%);
  transform: translateY(-5px);

}
footer .to-up i{
  font-size: 2rem;
  color: var(--main-font-color)
}
/* end footer section */
